{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "globals": {
    "module": false
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["dist", "node_modules", "client/build", "client/node_modules"],
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/ban-types": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "no-loss-of-precision": "warn",
    "no-nonoctal-decimal-escape": "warn",
    "no-unsafe-optional-chaining": "warn",
    "no-useless-backreference": "warn"
  },
  "settings": {}
}
