#site-content {
  display: flex;
  height: 91vh;
}
#sidebar {
  display: none;
  border-right: 1px solid var(--border-color-light);
}
#map-disclaimer {
  display: block;
}
#map {
  display: block;
  width: 100%;
}
span.alert-banner.map-disclaimer {
  width: 100%;
  padding: 5px;
}
.clickable {
  cursor: unset;
}
.clickable:active {
  color: unset;
}

@media only screen and (min-width: 760px) {
  #sidebar {
    display: block;
    width: 60vw;
  }
  #map-disclaimer {
    display: none;
  }
  #map {
  }
  .clickable {
    cursor: pointer;
  }
  .clickable:active {
    opacity: 0.8;
  }
}
@media only screen and (min-width: 1024px) {
  #sidebar {
    width: 35vw;
  }
}
