.events-content-area {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #c3c3c3;
}
.event-list-meta {
  display: flex;
  background-color: #f7f7f7;
  color: #888;
  padding: 7px 10px;
}
.event-list {
  border-top: 1px solid #c3c3c3;
  height: 62vh;
  overflow: auto;
  position: relative;
  background: white;
}
