span.alert-banner {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  color: var(--alert-color);
  border: 1px solid var(--alert-color);
  font-size: 0.7rem;
  padding: 3px;
}
