.event-list-header {
  background-color: var(--primary-bg-darker);
}
.event-list-title h2 {
  padding: 10px;
  font-size: 1rem;
}
.event-list-header h2 {
  margin: 0;
  text-align: left;
}
.event-list-meta {
  display: flex;
  opacity: 0.9;
  padding: 10px;
  border-top: 1px solid var(--border-color-light);
}
.event-list {
  border-top: 1px solid var(--border-color-light);
  height: 83vh;
  overflow: auto;
  position: relative;
  background: var(--primary-bg-color);
}
