.event {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  padding: 10px;
}
.hidden {
  display: none;
}
.event-list .event:hover {
  background-color: var(--primary-bg-darkest);
}
.event-details {
  margin: 5px 0;
}
.event-detail {
  margin-left: 5px;
}
.icon {
  width: 14px;
}
a .event-detail {
  color: var(--primary-text-color);
}
.event-datetime {
  display: flex;
  flex-direction: row;
}
.event-distance-to {
  display: flex;
}
.event-distance-to .not-found {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.refreshed {
  font-size: 0.9rem;
}
.cancelled .event-title,
.cancelled .event-details {
  text-decoration: line-through;
  color: var(--primary-text-light);
}
.newsflash {
  font-weight: 600;
}

.map-details {
  display: none;
}

.map .event,
.map .refreshed {
  font-size: 0.8rem;
}
.map .map-details {
  display: block;
}
.map .map-detail {
  margin: 18px 0;
}
