.nav-bar {
  top: 0;
  background-color: var(--primary-text-color);
}
.nav-bar-content {
  align-items: center;
  display: flex;
}
.nav-bar-item {
  font-family: 'Greycliff', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--primary-bg-color);
  padding: 5px;
}
.push {
  margin-left: auto;
}
#logo {
  display: flex;
  align-items: center;
  min-height: 35px;
}
#logo img {
  width: 200px;
  max-width: 100%;
}
#logo .beta {
  margin-left: 5px;
}

@media only screen and (min-width: 760px) {
  .nav-bar-item {
    padding: 15px;
  }
}
