/* styles borrowed from https://codepen.io/aardrian/details/RdvvXW */

.toggle {
  display: flex;
}

.toggle [disabled] + label,
.toggle [disabled]:hover + label {
  color: var(--primary-text-color);
}
.toggle [type='checkbox'] {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.toggle [type='checkbox'] + label {
  display: block;
  position: relative;
  padding: 0.5em;
  padding-left: 4em;
  max-width: calc(100% - 2em);
}

.toggle [type='checkbox']:focus + label,
.toggle [type='checkbox']:hover + label {
  color: var(--primary-text-color);
}

.toggle [type='checkbox']:focus + label::before,
.toggle [type='checkbox']:hover + label::before {
  box-shadow: 0 0 0.5em var(--primary-text-color);
}

.toggle [type='checkbox']:focus + label::after,
.toggle [type='checkbox']:hover + label::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='rgba(0,0,0,.25)'/%3E%3C/svg%3E");
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center center;
}

.toggle [type='checkbox'] + label::before,
.toggle [type='checkbox'] + label::after {
  content: '';
  position: absolute;
  height: 1.5em;
  transition: all 0.25s ease;
}

.toggle [type='checkbox'] + label::before {
  left: 0;
  top: 0.2em;
  width: 3em;
  border: 0.2em solid var(--border-color);
  background: var(--border-color);
  border-radius: 1.1em;
}

.toggle [type='checkbox'] + label::after {
  left: 0;
  top: 0.25em;
  background-color: var(--primary-bg-color);
  background-position: center center;
  border-radius: 50%;
  width: 1.5em;
  border: 0.15em solid var(--border-color);
}

.toggle [type='checkbox']:checked + label::after {
  left: 1.6em;
  border-color: var(--link-color);
  color: var(--link-color);
}

.toggle [type='checkbox']:indeterminate + label::after {
  left: 0.8em;
}

.toggle [type='checkbox']:indeterminate + label::before {
  background-color: var(--border-color-light);
}

.toggle [type='checkbox']:checked + label::before {
  background-color: var(--link-color);
  border-color: var(--link-color);
}

.toggle [type='checkbox'][disabled] + label::before {
  background-color: transparent;
  border-color: var(--border-color-light);
}

.toggle [type='checkbox'][disabled] + label::after {
  border-color: var(--border-color-light);
}

.toggle [disabled]:hover + label {
  color: #999; /* case for CSS custom property if not supporting IE/Edge */
}

.toggle [type='checkbox'][disabled]:hover + label::before {
  box-shadow: none;
}

.toggle [type='checkbox'][disabled]:hover + label::after {
  background-image: none;
}
