body {
  line-height: 22px;
}

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #333333;
}

a {
  text-decoration: none;
  color: #b95eae;
}

.link {
  text-decoration: none;
}

.page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-content {
  width: 75vw;
}
