body {
  font-family: sans-serif;
  padding: 25px;
}
h1 {
  background-color: #f09324;
  color: white;
  padding: 10px;
}
.grid-container {
  grid-template-columns: auto auto auto auto;
  display: grid;
  grid-gap: 20px;
}
.grid-item {
  padding: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
}
.flex-child {
  width: 100px;
  height: 100px;
  margin: auto;
}
